@use "./lib.scss" as *;


#hidden {
    display: none;
}

.modal {
    display: flex;
    flex-direction: column;
    position:fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,0.4);
}

.modal__content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 2px solid #999;
    width: 40%;
    height: 60%;
}

.modal__title {
    margin: 30px 0 50px 30px
}

.modal__p-text {
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
    margin: 0 0 0 30px;

}

.modal__p-date {
    font-size: 0.5rem;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 0px;
    color: black;
}

.modal__input {
    margin-left: 30px;
    border-radius: 3px;
    border-color: gray;
    border-style: solid;
    height: 40px;
    width: 180px;
}

.modal__button {
    position: fixed;
    height: 40px;
    width: 190px;
    background-color: rgba(0,0,255,0.6);
    border-radius: 5px;
    color: white;
    font-weight: 600;
    bottom: 22%;
    right: 31%;
}

.modal__button_close {
    position:fixed;
    height: 40px;
    width: 50px;
    background-color: rgba(255,0,0,0.6);
    border-radius: 5px;
    color: white;
    font-weight: 600;
    top: 22%;
    right: 31%;
}


::-webkit-datetime-edit-month-field {
     color: grey;
     margin: 0 1em 0 1em; }
::-webkit-datetime-edit-day-field {
     color: grey; 
     margin: 0 1em 0 1em;
    }
::-webkit-datetime-edit-year-field {
    color: grey; 
    margin: 1em 0 0 1em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 112, 112, 0.7); 
    z-index: 5;
    display: hidden;
}
#time_options {
    display: block;

}
#time_options option {
    color:black;
}
.book_modal{
    background-color: white;
    margin: auto;
    border: 2px solid rgb(201, 200, 200);
    width: 40%;
    height: 60%; 
    position: fixed; 
    top: 20%; 
    left: 30%; 
    z-index: 6;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    display: hidden;
}
//title basic styling
h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.4em;
    margin-left:10px;
    text-align:start;
   
    color:rgb(70, 69, 69);
    
}

//name and email input form
#name-text, #email-text {
    position: relative;
    margin-left: 10px;
    bottom:2px;
    border-radius: 3px;
    border-color: rgb(201, 200, 200);
    border-style: solid;
    height: 30px;
    width: 250px;
}

//booking and participants input form
#booking-time , #time_options, #participants_number{
    position: relative;
    margin-left: 10px;
    bottom:2px;
    border-radius: 3px;
    border-color: rgb(201, 200, 200);
    border-style: solid;
    height: 30px;
    width: 150px;
}
//name and email p text
.book_name, .book_email{
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 0 30px;
    display:flex;
    color:rgb(26, 26, 26);
    opacity: 75%;
    margin-left: 10px;
    
   
}
//time and participants p text
.book_time , .book_participants{
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 0 30px;
    display:flex;
    color:rgb(26, 26, 26);
    opacity: 75%;
    margin-left: 10px;
    
}

//button styling
    .booking_button{
        position: fixed;
        height: 36px;
        width: 130px;
        background-color:#7f79e9;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        left:59%;
        top:70%;
        border:none;
        
    }


.filter {
    /* Made the filter window only visible in desktop mode, for now */
    display: none;

    @include breakpoint($large-screen-breakpoint)
    {
        display: grid;

        & .filter__button {
            @include blueButton;
            width: 8rem;
            height: 2.2rem;
            font-weight: 400;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
        }

        & .filter__button:hover {
            background-color: lightblue;
        }

        & .filter__title {
            color: $dark;
            font-size: 1.2em;
            margin: 0.6em auto 1em 1em;
        }
        
        & .filter__form {
            display: none;
            position: relative;
            border: 2px solid #c4c4c4;
            box-shadow: 0 0 5px 1px lightgrey;
            width: 90%;
            margin: 0 auto;

            & .filter__form__close-button {
                width: 1.5rem;
                position: absolute;
                top: 0.4rem;
                right: 0.4rem;
                cursor: pointer;
            }
        }

        & h3 {
            font-size: 1.8rem;
            font-weight: 400;
            margin: 1.5rem auto;
        }

        & h4 {
            margin-left: 2%;
            font-weight: normal;
        }

        & ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            list-style-type: none;
            padding: 0;

            & li {
                margin-top: 1rem;

                & h5 {
                    font-size: 0.7rem;
                    margin: 0 0 0.3rem 0;
                    width: fit-content;
                    color: $dark;
                }

                & input[type=checkbox] {
                    width: 0.65rem;
                    height: 0.65rem;
                    cursor: pointer;
                }

                & input[type=text] {
                    border-radius: 3px;
                    border: 2px solid $lightblue;
                    font-size: 0.8rem;
                    font-family: "Roboto", sans-serif;
                    padding: 1em;
                    padding-left: 0.5em;
                    margin: 0.3rem 0 0 0;
                    width: 13rem;
                    height: 1.5rem;
                    &:focus {
                        outline:none;
                        box-shadow: 0 0 0 1px $lightblue;
                    }
                }


                & label {
                    font-size: 0.7rem;
                }
            }

            & .filter__type {
                grid-column: 1;
                margin-left: 1rem;
            }

            & .filter__rating {
                display: grid;
                grid-template-columns: 3;
                grid-template-rows: 2;
                grid-column: 2;

                & h5 {
                    grid-row: 1;
                    margin: 0;
                }

                & .filter__first-rate {
                    grid-row: 2;
                }

                & button {
                    background-color: transparent;
                    border: none;
                    margin: 0;
                    padding: 0;

                    & i {
                        color: red;
                        cursor: pointer;
                        font-size: 0.8rem;
                        margin-right: -0.15rem;
                    }
                }

                & p {
                    grid-row: 2;
                    margin: 0.1rem;
                    margin-left: -0.5rem;
                    width: fit-content;
                }

                & .filter__second-rate {
                    grid-row: 2;
                    margin-left: -1rem;
                }
            }

            & .filter__tag {
                grid-column: 3;
                margin-left: 2rem;

                & button {
                    background-color: white;
                    font-family: "Roboto", sans-serif;
                    font-weight: 700;
                    border: 2px solid red;
                    border-radius: 1em;
                    font-size: 0.6em;
                    padding: 0.25em 0.5em;
                    margin-bottom: 3px;
                    cursor: pointer;

                    &.active {
                        background-color: red;
                        color: white;
                    }
                } 

                & button:hover {
                    background-color: red;
                    color: white;
                }
                
            }

            & .filter__keyword {
                grid-column: 2;
                margin-top: 2rem;
            }
        }
    }
}
.challenges {
    margin-top: 2rem;
  
      #challenges__container{
       
       margin: 0 auto;
       max-width: 1280px;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 1.4rem;
      }
  
      .challenges__room{
          box-shadow: 0px 0px 10px 0px rgba($gray, 1);
          border-radius: 0.4rem;
          width: 13rem;
          overflow: hidden;
      }
      .room {
        display: flex;
        flex-direction: column;
        height: 100%;
        
      }
    

      .room__image-container{
        position: relative;
        width: 100%;
      }

      .room__img {
        width: 100%;
        height: auto;
        display: block;
      }

      .room__stars {
        position: absolute;
        bottom: 0.5rem;
        left: 0.4rem;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        padding: 0;
      }
      .room__stars i {
        color: $red;
        font-size: 0.7rem;
      }
      .room__type-icon {
        position: absolute;
        top: 0.7rem;
        right: 0.7rem;
        color: $red;
      }

      .room__heading {
        font-size: 1rem;
        font-weight: 400;
        padding-left: 0.6rem;
        margin: 0.3rem 0rem 0rem 0rem;
        
      }
      .room__participants{
        font-size: 0.57rem;
        padding-left: 0.6rem;
        margin: 0.3rem 0rem 0rem 0rem;
        
      }
      .room__info {
        font-size: 0.64rem;
        padding: 0.5rem 0.5rem 0 0.6rem;
        margin: 0;
        flex-grow: 1;
      }
      .challenges__actions {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem;
      }
      .room__button--onsite {
        @include redButton;
        margin-top: 0.3rem;
        &:hover{
          cursor:pointer;
        }
      }
      .room__button--online{
        @include redButton;
        margin-top: 0.3rem;
        &:hover{
          cursor:pointer;
        }
      }
  }
  .filter__message {
    text-align: center;
    font-size: 1rem;
    grid-column: 2;
    margin-top: 5rem;
    padding: 1rem;
  }


