
.Booking-form{
    background-color: transparent;
    
   
 
}
.book_modal{
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 2px solid #999;
    width: 40%;
    height: 100%;  
    z-index:  999;
    

}
//title basic styling
h4{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style:normal;
    margin-left: 5%;
}
//name and email input form
#name-text, #email-text {
    position: relative;
    margin-left: 30px;
    border-radius: 3px;
    border-color: rgb(201, 200, 200);
    border-style: solid;
    height: 30px;
    width: 250px;
}
//booking and participants input form
#booking-time , #participants{
    position: relative;
    margin-left: 30px;
    border-radius: 3px;
    border-color: rgb(201, 200, 200);
    border-style: solid;
    height: 30px;
    width: 100px;
}
//name and email p text
.book_p-name, .book_p-email{
    font-size: 12px;
    margin: 0 0 0 30px;
    display:flex;
    color:rgb(26, 26, 26);
}
//time and participants p text
.book_p-time , .participants-text{
    font-size: 12px;
    margin: 0 0 0 30px;
    display:flex;
    color:rgb(26, 26, 26);
}

//button styling
    .booking_button{
        position: fixed;
        height: 36px;
        width: 130px;
        background-color:#7f79e9;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        left:59%;
        bottom:22%;
        border:none;
        
    }






