@use "./lib.scss" as *;

.footer {
  width: 100%;
  margin-top: 1.1rem;
  background-color: $dark;
  color: $white;
  min-height: 21rem;
  padding: 2rem 1rem;

  @include breakpoint($large-screen-breakpoint) {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    padding: 3.1rem;
    min-height: 16.7rem;
  }

  .fiiter__menu-item {
    display: inline-block;
  }

  .footer__company {
    margin-top: 0.3rem;
    min-height: 150px;

    @include breakpoint($large-screen-breakpoint) {
      margin: 2.2rem 0rem 0rem 1rem;
    }

    .footer__heading--company {
      font-size: 0.65rem;
      font-weight: 700;
      margin: 0;
    }

    .footer__text {
      font-size: 0.65rem;
      margin-top: 0.25rem;
      width: 17rem;
      min-height: 2.5rem;
    }
  }

  .footer__contact {
    margin-top: 1.5rem;
    min-height: 120px;

    @include breakpoint($large-screen-breakpoint) {
      margin-top: 2.2rem;
    }

    .footer__heading--contact {
      font-size: 0.65rem;
      font-weight: 700;
      margin: 0;
    }

    .footer__menu--contact {
      list-style-type: none;
      padding: 0;
      margin-top: 0.25rem;
      min-height: 100px;

      .footer__menu-link {
        color: $white;
        text-decoration: none;
        margin-top: 0.4rem;
        font-size: 0.65rem;
        display: block;
        &:hover {
          color: $lightblue;
        }
      }
    }

    .footer__menu--play {
      list-style: none;
      padding: 0;
      min-height: 100px;

      .footer__menu-link {
        color: $white;
        text-decoration: none;
        font-size: 0.65rem;
        margin-top: 0.4rem;
        display: block;
        &:hover {
          color: $lightblue;
        }
      }
    }
  }

  .footer__media {
    margin-top: 1.5rem;
    min-height: 120px;

    @include breakpoint($large-screen-breakpoint) {
      margin-top: 2.2rem;
    }

    .footer__heading--media {
      font-size: 0.65rem;
      font-weight: 700;
      margin: 0;
    }

    .footer__menu--media {
      list-style-type: none;
      margin-top: 0.25rem;
      padding: 0;
      min-height: 100px;

      .footer__menu-link {
        color: $white;
        text-decoration: none;
        margin-top: 0.4rem;
        font-size: 0.65rem;
        display: block;
        &:hover {
          color: $lightblue;
        }
      }
    }
  }
}
